body {
  background-color: black;
  cursor: crosshair;
  font-family: Georgia, Helvetica, sans-serif;
  font-weight: bold;
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#hud {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  bottom: 10px;
  position: absolute;
  right: 10px;
  z-index: 100;
  color: white;
}
#credits {
  background-color: black;
  font-size: 12px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5000;
}
p {
  background-color: #EEEEEE;
  border: 1px solid black;
  display: inline-block;
  margin: 0;
  padding: 5px;
}

#speedBoostMsg {
  text-align: center;
  animation: blinker 0.5s linear infinite;
  font-family: 'VT323', monospace;
  color: white;
  font-size: 4rem;
  top: 50%;
  left: 50%;
  position: absolute;
  z-index: 100;
}
#addPoints {
  text-align: center;
  font-family: 'VT323', monospace;
  color: gold;
  text-shadow: -8px 0 black, 0 8px black, 8px 0 black, 0 -8px black;
  font-size: 8rem;
  top: 30%;
  left: 50%;
  position: absolute;
  z-index: 100;
}
#intro {
  background-color: #000000;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 32px;
  opacity: 0.7;
  padding: 120px;
  text-align: center;
  z-index: 1001;
}
#win {
  background-color: green;
  display: none;
  left: 0;
  opacity: 0.15;
  pointer-events: none;
  position: absolute;
  top: 0;
  z-index: 1002;
}
@keyframes blinker {
  50% { opacity: 0; }
}
#timer {
  font-family: 'VT323', monospace;
  font-size: 3rem;
  color: white;
  top: 10px;
  position: absolute;
  left: 10px;
  z-index: 100;
}
h2{
  font-family: 'VT323', monospace;
  color: white;
  text-align: center;
  font-size: 5rem;
}
#portalpic {
  max-width: 50%
}
#speedboostpic{
  text-align: right;
}
